# Build artifacts
/*.rbxl
/*.rbxlx
/*.rbxm
/*.rbxmx
# Yeah we lowk need this for welcome to hell
# dist/

# Wally managed packages
Packages/
DevPackages/

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# VS Code files
.vscode/*
